 @media all and (max-width: 980px) {
     #contact .contact-form-msg {
         margin-top: 20px;
     }
     #main_nav {
         background-color: white;   
     }
     
     #main_nav .navbar-brand {
         color: black;
     }
     
     #main_nav .navbar-nav a {
         color: black;
         width: 10vh;
     }
     
     #main_nav .navbar-nav a:hover {
         color: orange;
     }
 }

@media all and (min-width: 200px) and (max-width: 768px) {
    
    h1 {
        font-size: 4vh;
    }
    
    #main_nav ul li a {
        font-size: 5vh;
    }
    
    #main_nav .navbar-nav a {
        width: 90vh;
    }
    
    #info .info_text_main {
        font-size: 3vh;
    }
    
    #info .info_content {
        font-size: 3vh;
    }
    
    #gallery .slide-show {
        height: 50%;
        width: 50%;
    }
    
    #gallery #slider {
        height: 200vw;
    }
    
    #gallery h1 {
        font-size: 3vh;
    }
    
}
